@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<br/>
<address>
    <strong>Twitter: </strong> <a href="https://twitter.com/modembug">@@modembug</a><br/>
    <strong>Linked-In: </strong> <a href="https://www.linkedin.com/in/aaronlabiosa">aaronlabiosa</a><br/>
    <strong>Email:</strong>   <a href="mailto:aaron@modembug.com">Aaron@Modembug.com</a><br />
</address>